*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding: 2.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 16rem;
}
form{
    margin: 2rem 0 1rem 0;
}
form input, button, select{
    width: 100%;
    border-radius: 0.75rem;
    border: none;
    outline: none;
}
form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 3rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2.25rem;
}
select{
    font-size: 1rem;
}
.select-container{
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 6rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.msg{
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;
}
button{
    background-color: #af4d98;
    height: 2.7rem;
    font-size: 1.1rem;
    color: #fff;
}
/* @media (max-width: 950px) {
    .select-container{
        width: 4.5rem;
    }
    .dropdown i{
    font-size: 1rem;
}
.select-container img{
    max-width: 1.25rem;
}
} */
@media (max-width: 500px){
    .container{
        width: 14rem;
    }
    .select-container{
        width: 4.9rem;
    }
     .dropdown i{
    font-size: 1.2rem;
}
}